<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<% if @post.tags %>
  <strong>Tags</strong>
  <ul>
  <% @post.tags.each do |tag| %>
    <li><%= tag.title %></li>
  <% end %>
  </ul>
<% end %>
<p>
  <strong>Username:</strong>
  <%= @post.username %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
